{% extends 'concierge/_extend/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form class="m-t" role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}

        {% buttons %}
            <button type="submit" class="btn btn-primary block full-width m-b">
                {% trans 'Reset my password' %} {% bootstrap_icon "send" %}
            </button>
        {% endbuttons %}

        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="{% url 'concierge:signup' %}">Create an account</a>
    </form>
{% endblock %}
